.venv/
__pycache__/
*.pyc
.DS_Store
/dist/
/build/
*.egg-info/
preview_output/
extracted_assets/
converted_glb/
roms/*
!roms/README.md
!roms/.gitkeep

exports/*
!exports/README.md
!exports/.gitkeep

mapping_overrides/*
!mapping_overrides/README.md
!mapping_overrides/.gitkeep

saves/*
!saves/README.md
!saves/.gitkeep
